.user-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(170, 170, 170, 0.2);
  min-height: calc(100% - 70px);
  min-width: 100%;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  gap: 1rem;
  background: #691c32;
  color: white;
  position: relative;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  overflow: hidden;
}


.profile-card__img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  margin-top: 1rem;
  width: 5rem;
  height: 5rem;
  font-size: 4rem;
  padding-bottom: 5px;
  border-radius: 50%;
  border: 1px solid white;
}

.profile-card__info p {
  margin: 0;
  padding: 0 1rem;
}


.profile-edit {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #451321;
  width: 100%;
  padding: 1rem;
}

.profile-edit__form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  padding: 1rem;
  margin: 0;
  gap: .5rem;
  height: 100%;
  border-radius: 10px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}

.profile-edit__form input{
  outline: none;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  padding: 0rem 1rem;
}

.profile-edit__title {
  margin-bottom: .5rem;
  font-size: 1.3rem;
  border-bottom: 1px solid #691c32;
}

.user-dashboard .form-group{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px
}

.user-dashboard .confirm-btn{
  margin: .5rem 0 auto 50%;
  transform: translateX(-50%);
  max-width: 150px;
  background: #451321;
  color: white;
  font-size: 1rem;
  padding: .5rem;
  border-radius: 1rem 1rem;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease;
}

.user-dashboard .confirm-btn:hover {
  background: #691c32;
}


.profile-delete {
  position: absolute;
  top: 10px;
  right: 10px;
}

.user-dashboard .delete-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  color: #451321;
  width: 35px;
  height: 35px;
  font-size: 1rem;
  padding: .5rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease;
}

.user-dashboard .delete-btn:hover {
  background: rgba(255, 255, 255, 0.5);
}


@media (max-width: 768px) {
  .profile-card {
    width: auto;
    margin: 1rem;
  }
  .user-dashboard .form-group {
    flex-direction: column;
    gap: 0;
  }

  .user-dashboard .confirm-btn{
    margin: .25rem 0 0rem 50%;
    padding: .25rem;
  }
}


