      body {
        margin: 0;
        font-family: 'Segoe UI', sans-serif;

        width: 100%;
        padding-right: 0;
        padding-left: 0;
        margin-right: 0;
        margin-left: 0;
      }

      .main-content {
        margin-left: 250px;
        padding: 20px;
      }

      .sidebar {
        height: 100vh;
        width: 250px;
        background-color: #691c32;
        color: white;
        padding-top: 30px;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .sidebar .logo {
        text-align: center;
        margin-bottom: 40px;
      }

      .sidebar .logo i {
        font-size: 2rem;
      }

      .sidebar h3 {
        font-weight: 600;
        font-size: 1.2rem;
        margin-top: 10px;
      }

      .sidebar nav {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-left: 30px;
      }

      .sidebar nav a {
        color: white;
        text-decoration: none;
        font-size: 1rem;
        display: flex;
        align-items: center;
        gap: 10px;
      }

      .sidebar nav a:hover {
        color: #cccccc;
      }

      .logout {
        margin: 30px;
      }

      .logout a {
        color: white;
        text-decoration: none;
        font-size: 1rem;
        display: flex;
        align-items: center;
        gap: 10px;
      }

      .logout a:hover {
        color: #cccccc;
      }