.user-management {
  display: flex; flex-direction: column;
  align-items: center;
  min-height: calc(100% - 70px);
  min-width: 100%;
  height: auto;
  background-color: rgba(170, 170, 170, 0.2);
}

/*---------------registro de usuarios----------------- */
.user-register {
  display: flex; flex-direction: column;
  align-items: center;

  width: 50%; min-width: 300px; max-width: 40%;
  max-height: 2.5rem;

  margin: 1rem;

  background-color: white; color: #691c32;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);

  border-radius: 15px;
  
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.user-register:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.user-register.active {
  max-height: 500px;
}

.user-register .user-register__toggle i {
  rotate: 0deg;
  transition: all 0.25s ease;
}

.user-register.active .user-register__toggle i {
  rotate: -180deg;
}

.user-register__toggle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  min-height: 2.5rem;
  padding: .5rem 1rem;
  font-size: 1rem;
  background-color: #691c32;
  color: white;
}

.user-register__form {
  min-width: 90%;
  padding: 1rem 0;
}

.user-register__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.user-register__title {
  width: 90%;
  margin: .5rem 0rem 0rem;
  padding-bottom: 5px;
  font-size: 1.5rem;
  border-bottom: 1px solid #691c32;
}

.user-management .form-group {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0.25rem 0 0;
  font-size: large;
}

.user-management  .form-group input {
  padding: 0.25rem 1rem;
  border: 1px solid #ced4da;
  border-radius: 10px;
  outline: none;
  transition: all .2s;
}

.user-management .form-group input:focus {
  border-color: #691c32;
  box-shadow: 0 0 5px rgba(212, 77, 92, 0.4);
}


.user-management  .confirm-btn {
  margin: 1rem 0 .5rem;
  padding: .5rem 2rem;

  background-color: #451321;
  color: white;

  border: none;
  border-radius: 15px;

  cursor: pointer;

  transition: all 0.25s;
}

.user-management  .confirm-btn:hover {
  background-color: #691c32;
  scale: 1.02;
}

.user-management .confirm-btn:active {
  scale: .98;
}




/*---------------lista de usuarios----------------- */
.user-list {
  display: grid;
  grid-template-columns: auto auto;
  width: auto; height: auto;
  min-width: 60%;
  padding: 1rem; margin: auto 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.user-card {
  display: grid;
  justify-items: center;
  grid-template-columns: 100px 1fr;
  min-width: 250px;
  width: auto;
  position: relative;
  padding: .5rem;
  margin: 5px;

  background-color: white;
  color: black;
  border: 1px solid #691c32;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);

  border-radius: 5px;

  transition: all 0.2s ease;
}

.user-card:hover {
  scale: 1.02;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

.img-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 5rem;
  height: 5rem;
  padding-bottom: 5px;
  margin: .5rem;

  text-align: center;
  font-size: 4rem;

  border-radius: 50%;
  border: 1px solid black;
}

.user-card__info {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-top: 10px;
}

.user-card__last-login {
  grid-column: span 2;
  font-size: .8rem;
  color: #691c32;
  font-style: italic;
}

.user-card__info p {
  margin: 0 0 5px;
  border-bottom: 1px solid black;
}

.user-card__edit-btn {
  position: absolute;
  top: 10px; right: 10px;
  width: 30px; height: 30px;
  background-color: white;
  color: black;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease;
}

.user-card__edit-btn:hover {
  background-color: rgba(105, 28, 50, 0.3);
}


.image-btn {
  justify-self: center;
  margin: 0;
  padding-bottom: 15px;
  font-size: 6rem;
  width:  7rem;
  height: 7rem;
}







/*------------modal de edicion de usuarios--------------- */
.modal-edit-user {
  display: none;
  justify-content: center; align-items: center;
  position: fixed;
  left: 0; top: 0;
  z-index: 500;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
}

.modal-edit-user__content {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 50%;

  padding: .5rem 1rem;

  background-color: white;
  color: #451321;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);

  border-radius: 15px;
}

.modal-edit-user__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-edit-user__form-content {
  display: grid;
  grid-template-columns: 200px auto;
  width: 100%;
  padding: .5rem 0 0;

}

/* .edit-option-img {
/*  */
/*  */
/*  */
/*  */
/*  */
/*  
} */

.edit-option-img{
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  width:  100%;
  height: 100%;

}

.edit-option-img .img-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 8rem;
  padding-bottom: 5px;
  margin: .5rem;

  text-align: center;
  font-size: 6rem;

  border-radius: 50%;
  border: 1px solid black;
}



.edit-option{
  width: 90%;
  padding: 0 1rem 1rem;
  border-left: 1px solid #451321;
}

.modal-edit-user__title {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #451321;
}

.user-management .form-group select {
  padding: 0.5rem;

  border: 1px solid #ced4da;
  border-radius: 4px;

  outline: none;
  transition: all .3s;
}

.user-management .form-group select:focus {
  border-color: #691c32;

  box-shadow: 0 0 5px rgba(212, 77, 92, 0.4);
}


.modal-edit-user__close-btn {
  position: absolute;
  top: 10px;
  right: 25px;
  background-color: white;
  color: black;
  border: 1px solid white;
  border-radius: 50%;

  cursor: pointer;
  transition: all .3s;
}

.modal-edit-user__close-btn:hover {
  border: 1px solid #691c32;
  background-color: rgba(105, 28, 50, 0.1);
}

.modal-delete-user__form {
  position: absolute;
  top: 60px;
  right: 40px;
}

.user-management .delete-btn {
  width: 35px;
  height: 35px;
  background-color: #451321;
  color: white;

  border-radius: 50%;
  border: none;

  cursor: pointer;

  transition: all 0.25s;
}

.user-management .delete-btn:hover {
  background-color: #691c32;
}


@media (max-width: 990px) {
  .user-list {
    grid-template-columns: auto;
    width: auto;
  }
}

@media (max-width: 768px) {
  .modal-edit-user__form-content {
    grid-template-columns: auto;
    justify-items: center;
  }

  .edit-option {
    border: none;
}
}

@media (max-width: 500px) {
  .user-list {
    min-width: 90%;
  }

  .user-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
  }
}