.vincular-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(170, 170, 170, 0.2);
  min-height: calc(100% - 70px);
  min-width: 100%;
}

.vincular-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  flex: 1;
  margin: 1rem auto;
  background-color: rgba(255, 255, 255, 0.6);
  color: #691c32;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  padding: .5rem;
  border-radius: 5px;
}

.vincular-form h2 {
  font-size: 1.5rem;
  padding: .5rem;
  margin: .25rem;
  border-bottom: 1px solid #691c32;
}

.vincular-form__content {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.vincular-form__general {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: auto;
  background-color: white;
  border-radius: 5px;
  margin: .25rem;
  padding: .5rem 1rem 0rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.img-tracker {
  width: 150px;
  height: 150px;
  margin: .5rem 0;
  border-radius: 50%;
  border: 1px solid #451321;
  background-color: white;
  color: white;
}

.vincular-dashboard .form-group {
  display: grid;
  grid-template-columns: 200px auto;
  align-items: center;
  width: 100%;
  padding: 0rem .5rem;
  margin: .15rem 0rem;
  min-height: 2rem;
  transition: all .35s ease-in-out;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.vincular-dashboard .form-group:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.vincular-dashboard .form-group span {
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  gap: 10px;
}

.vincular-dashboard .form-group input {
  width: 100%;
  max-width: 400px;
}

.vincular-dashboard .form-group select {
  display: flex;
  justify-self: center;
  width: 100%;
  max-width: 200px;
}

.vincular-dashboard .slider-container {
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
}

.slider-container .slider-container__value {
  display:inline-block;
  width: 3ch;
  text-align: right;
}

.option-radio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  white-space: nowrap;
}
.option-radio label{
  max-width: 200px;
}

.input-petname {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-between;
  width: 50%;
  max-width: 300px;
  padding: 0rem 1rem;
  margin: .15rem 0rem 1.5rem;
  min-height: 2rem;
  outline: none;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  padding: 0rem 1rem;
  transition: all .35s ease-in-out;
}

.input-text {
  outline: none;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 0rem 1rem;
}

.input-range {
  box-shadow: none;
}

.crear-tracker-btn {
  display: flex;
  align-self: center;
  justify-content: center;
  width: calc(100% + 2rem);
  margin: auto 0rem 0rem;
  padding: 1rem 1.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  background-color: white;
  color: #451321;
  border-radius: 0px 0px 5px 5px;
  border: 1px solid rgba(69, 19, 33, .2);
  transition: all .5s ease-in-out;
}

.crear-tracker-btn:hover {
  background-color: rgba(69, 19, 33, .05);
  border: 1px solid #451321;
}

.vincular-form__geofencing {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 100%;
  flex: 1;
  background-color: white;
  border-radius: 5px;
  margin: .25rem;
  padding: .5rem 2rem 0;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.vincular-form__geofencing .form-group input {
  max-width: 100%;
}

#geoMap {
  min-height: 300px;
  height: 100%;
  width: 95%;
  border-radius: 4px;
  margin: 1rem;
  border: 1px solid #aaa;
  transition: all .5s ease-in;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

#geoMap:hover {
  border: 1px solid rgba(69, 19, 33, 0.6);
}




.img-selector{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position:fixed;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;

  background-color: rgba(0, 0, 0, 0.6);
  /* background-color: rgba(0, 0, 0, 0.8); */
  transition: all 1s ease-in-out;
}

.img-options{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto;
  position: relative;
  width: auto;
  height: auto;
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
}

.img{
  display: flex;
  align-self: center;
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: none;
  margin: 1rem;
  border-radius: 50%;
  border: 1px solid rgba(105, 28, 50, .1);
  background-color: #451321;
  color: white;
  transition: all .25s ease-in-out;
}

.img:hover{
  border: 1px solid rgba(105, 28, 50, 1);
  scale: 1.1;
}

.close-btn{
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  font-weight: bold;
  border: none;
  background-color: rgba(105, 28, 50, .15);
  transition: all .15s ease-in-out;
}

.close-btn:hover{
  background-color: rgba(105, 28, 50, .3);
}



@media (max-width: 1400px) {
  .vincular-dashboard {
    min-height: auto;
  }

  .vincular-form__content {
    flex-direction: column-reverse;
  }

  .vincular-form__geofencing {
    margin: .25rem;
    padding: .5rem 1rem 0rem;
    width: auto; 
  }

  .vincular-dashboard .form-group {
    display: grid;
    grid-template-columns: auto;
    padding: 1rem 0;
  }

  .vincular-dashboard .form-group span{
    justify-content: center;
  }

  .vincular-dashboard .form-group label{
    text-align: center;
  }

}