<%- include('../layouts/header', {title: 'config-title'}); %>

<%- include('../layouts/sidebar'); %>

<div class="main-content">
  <h1>Bienvenido a Configuración</h1>
</div>

<%- include('../layouts/footer'); %>