<%- include('../layouts/header', {title: 'devices-title'}); %>

<%- include('../layouts/sidebar'); %>

<div class="main-content">
  <h1>Bienvenido a Dispositivos</h1>
</div>

<%- include('../layouts/footer'); %>