<%- include('../layouts/header', {title: 'general-title'}); %>

<%- include('../layouts/sidebar'); %>

<div class="main-content">
  <h1>Bienvenido a General</h1>
</div>

<%- include('../layouts/footer'); %>