<%- include('../layouts/header', {title: 'users-title'}); %>

<%- include('../layouts/sidebar'); %>

<div class="main-content">
  <h1>Bienvenido a Usuarios</h1>
</div>

<%- include('../layouts/footer'); %>