<%- include('layouts/header', {title: 'login-title'}); %>

<div class="login-div d-flex justify-content-center align-items-center vh-100">
  <form action="/login" method="POST" class="p-4 border rounded shadow" style="min-width: 300px;">
    
    <h2 class="mb-2 text-center"><i class="bi bi-eye" style="font-size: 3rem;"></i></h2>
    
    <h2 class="mb-4 text-center">argos-tracker</h2>

    <div class="mb-3">
      <!-- <label for="username" class="form-label">Usuario</label> -->
      <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
    </div>

    <div class="mb-3">
      <!-- <label for="password" class="form-label">Contraseña</label> -->
      <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña" required>
    </div>

    <div class="d-grid gap-2">
      <button type="submit" class="btn ">Acceder</button>
    </div>

    <% if (typeof errorMessage !== 'undefined') { %>
      <p style="color:red; text-align: center; padding-top: 1rem; font-style: italic;"><%= errorMessage %></p>
    <% } %>

  </form>

</div>

<style>
  body{
    color: #691c32;
  }
  .btn{
    background-color: #691c32;
    color: white;
  }
  .btn:hover{
    background-color: #8b1c3c;
    color: white;
  }
</style>

<%- include('layouts/footer'); %>