<nav class="navbar">
  <div class="navbar__title">
    <h1 class="page-title"><%= title %></h1>
    <span class="page-subtitle"><%= subtitle %></span>
  </div>
  <button class="help-btn" id="help-btn"><i class="bi bi-info-circle"></i></button>
  
  <div class="user-name">
    <span>¡Bienvenido, <%= user.username %>!</span>
    
    <button class="account-btn" id="account-btn"><i class="bi bi-person-fill"></i></button>
  </div>
  
  <div id="user-menu" class="user-menu">
    <a href="/dashboard/profile">Perfil</a>
    <a href="/logout">Cerrar sesión</a>
  </div>
</nav>

<script>
  const userMenu = document.getElementById("user-menu");
  const accountBtn = document.getElementById("account-btn");

  accountBtn.addEventListener("click", (e) => {
    e.stopPropagation();
    userMenu.style.display = (userMenu.style.display === "flex") ? "none" : "flex";
  });

  document.addEventListener("click", (e) => {
    if (!userMenu.contains(e.target) && !accountBtn.contains(e.target)) {
      userMenu.style.display = "none";
    }
  });
</script>