      <nav class="navbar">
        <div class="error-fix">
          <h1 class="page-title"><%= title %></h1>
          <span class="page-subtitle"><%= subtitle %></span>
        </div>
        
        <button class="account-btn" id="account-btn"><i class="bi bi-person-fill"></i></button>

        <div id="user-menu" class="user-menu">
          <a href="/dashboard/users">Perfil</a>
          <a href="/login">Cerrar sesión</a>
        </div>
      </nav>