<div class="sidebar">
  <div>
    <div class="logo">
      <i class="bi bi-eye"></i>
      <h3>argos tracker</h3>
    </div>

    <nav>
      <a href="/dashboard/"><i class="bi bi-grid"></i> General</a>
      <a href="/dashboard/devices"><i class="bi bi-globe2"></i> Dispositivos</a>
      <% if (user.admin) { %>
        <a href="/dashboard/users"><i class="bi bi-person-lines-fill"></i> Usuarios</a>
        <a href="/dashboard/config"><i class="bi bi-gear"></i> Configuración</a>
        <a href="/dashboard/vincular"><i class="bi bi-link-45deg"></i> Vincular</a>
      <% } %>
    </nav>
  </div>

  <div class="logout">
    <a href="/logout"><i class="bi bi-box-arrow-left"></i> Cerrar sesión</a>
  </div>
</div>
